/* Chatbot.css */
.container-fluid {
    height: 100vh;
  }
  
  .chat {
    margin-top: 50px;
  }
  
  .card {
    height: 500px;
    border-radius: 15px;
    background-color: #f8f9fa;
  }
  
  .card-header {
    border-bottom: 0;
  }
  
  .img_cont {
    position: relative;
    height: 70px;
    width: 70px;
  }
  
  .img_cont img {
    height: 70px;
    width: 70px;
  }
  
  .online_icon {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #4cd137;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    border: 1.5px solid white;
  }
  
  .user_info {
    margin-left: 15px;
  }
  
  .msg_card_body {
    overflow-y: auto;
  }
  
  .type_msg {
    border: none;
    background: none;
    outline: none;
    color: #000;
  }
  
  .send_btn {
    background: #007bff;
    color: white;
  }
  
  .msg_cotainer {
    margin: 10px;
    padding: 10px;
    background: #82ccdd;
    border-radius: 5px;
    color: white;
  }
  